@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300;1,500;1,600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@100;200;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: #ffafbd; */
  scroll-behavior: smooth;
}
body {
  background-image: linear-gradient(to bottom right, #eecda3, #ef629f);
}
.navbar {
  background-color: #6a1b4d;
  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
  overflow: hidden;
}
.sticky {
  top: 0;
  z-index: 100;
  position: fixed;
  width: 100%;
}
.sticky + .intro {
  padding-top: 20px;
}
.img {
  width: 50px;
}
ul {
  /* background-color: #6a1b4d; */
  margin-left: 22%;
}
li {
  /* background-color: #6a1b4d; */
  list-style-type: none;
  display: inline-block;
  width: 15%;
}
a {
  text-decoration: none;
}
.add-color {
  background-color: #6a1b4d;
}
.intro {
  z-index: -100;
  margin-left: 344px;
  height: 85vh;
  margin-top: 56px;
}

.row-intro {
  display: flex;
}
.col-1-intro-1 {
  flex-basis: 40%;
}
.col-2-intro-2 {
  flex-basis: 60%;
  margin-left: 80px;
  margin-top: 90px;
}
.intro-profile {
  margin-top: 90px;
  width: 300px;
  border-radius: 150px;
  filter: grayscale(100%);
  transition: transform 0.5s;
  box-shadow: 0px 0px 60px #6a1b4d;
}
.intro-profile:hover {
  filter: grayscale(0%);
  transform: scale(1.1, 1.1);
}
.intro-header {
  font-weight: 600;
  font-size: 32px;
  color: #6a1b4d;
}
.intro-info {
  font-weight: 500;
  color: #b9345a;
}
.intro-end {
  font-weight: 500;
  color: #b9345a;
}
.social-ul {
  display: flex;
  flex-wrap: wrap;
  height: 20vh;
}
.social-ul {
  margin-left: 10%;
  margin-top: -60px;
}
.social-ul li {
  flex-basis: 14%;
}

.social-img {
  width: 75px;
  border-radius: 50%;
  filter: grayscale(100%);
  transition: transform 0.5s;
  box-shadow: 0px 0px 10px #6a1b4d;
}
.social-img:hover {
  filter: grayscale(0%);
  transform: scale(1.1, 1.1);
}

.leetcode {
  /* width: px; */
  height: 70px;
  margin-top: 0px;
}
.linkedin {
  width: 80px;
  height: 70px;
}
.codechef {
  margin-top: 0px;
}

.work-experience {
  z-index: 100;
  border-radius: 20px;
}
.work-experience h1 {
  font-weight: 600;
  text-align: center;
}
.work-experience h1::after {
  content: "";
  display: block;
  /* color: red; */
  width: 150px;
  height: 4px;

  background: #6a1b4d;
  margin: auto;
}

.card {
  position: relative;
  background: #e1ad9d;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  width: 550px;
  height: 370px;
  box-shadow: #e03b8b 0px 7px 29px 0px;
  border-radius: 13px;
}
.card-h2 {
  background-color: #e1ad9d;
  font-weight: 600;
  border-radius: 13px;
  text-align: center;
}
.card-h3 {
  background-color: #e1ad9d;
  font-weight: 450;
  text-align: center;
  padding-top: 5px;
}
.card a {
  text-decoration: none;
  color: black;
}
.card a:hover {
  color: #e03b8b;
}
.card-ul {
  background-color: #e1ad9d;
  margin-top: 15px;
  margin-left: 0px;
}
.card-li {
  margin-top: 20px;
  display: list-item;
  width: 100%;
  background-color: #e1ad9d;
  text-align: center;
}
.arrow-icon {
  width: 20px;
  position: absolute;
}
.one {
  top: 125px;
  left: 20px;
}
.two {
  left: 20px;
  top: 170px;
}
.two-adv {
  left: 20px;
  top: 195px;
}
.reduce {
  height: 320px;
}
.three {
  left: 20px;
}
.card-li p {
  width: 90%;
  background-color: #e1ad9d;
  font-weight: 400;
}
.p-two {
  text-align: justify;
  margin-left: 50px;
}
.p-one {
  text-align: justify;
  margin-left: 50px;
}

.skills {
  margin-top: 100px;
}
.skill-title {
  text-align: center;
  font-weight: 500;
}
.skill-title::after {
  content: "";
  display: block;
  /* color: red; */
  width: 156px;
  height: 4px;

  background: #6a1b4d;
  margin: auto;
}
.skill-set {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 45%;

  background-color: #f0ffff;
}
.row-skills {
  margin-top: 40px;
  display: flex;
  background-color: #f0ffff;
  /* transition: transform 0.5s; */
}
.row-skills:hover {
  /* transform: scale(1.1, 1); */
  border: 2px solid #6a1b4d;
  box-shadow: #6a1b4d 0px 15px 15px 0px;
  padding-bottom: 0px;
}
.col-2-first {
  margin-left: 25px;
  flex-basis: 30%;
  flex-wrap: wrap;
  background-color: #f0ffff;
  position: relative;
}
.col-2-second {
  background-color: #f0ffff;
  flex-basis: 70%;
}
.stars {
  background-color: #f0ffff;
  margin-top: 20px;
  margin-left: 90px;
}
.space {
  background-color: #f0ffff;
  padding-left: 7%;
  color: orange;
}
.space-un {
  background-color: #f0ffff;
  padding-left: 7%;
}
.skill-img {
  width: 40px;
  margin-top: 10px;
  margin-left: 10px;
}
.language {
  display: inline-block;
  background-color: #f0ffff;
  font-weight: 600;
  position: relative;
  left: 40px;
  top: -10px;
  font-size: 25px;
  color: #6a1b4d;
}
.js {
  /* left: 80px; */
  top: -15px;
}
.ds {
  top: 0px;
  left: 40px;
}
.css {
  left: 10px;
}
.increment {
  height: 10vh;
}
.skill-achievements {
  text-align: center;
  font-weight: 500;
  margin-top: 50px;
}
.skill-achievements::after {
  content: "";
  display: block;
  /* color: red; */
  width: 150px;
  height: 4px;

  background: #6a1b4d;
  margin: auto;
}
.project-achievements {
  text-align: center;
  font-weight: 500;
  margin-top: 50px;
}
.project-achievements::after {
  content: "";
  display: block;
  /* color: red; */
  width: 100px;
  height: 5px;

  background: #6a1b4d;
  margin: auto;
}
.ach-container {
  min-height: 100px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.ach-box {
  overflow: hidden;
  height: 100px;
  width: 75%;
  background-color: #6a1b4d;
  margin: 20px;
  border-radius: 29px 3px;
  position: relative;
  /* display: flex; */
}
.ach-icon {
  /* flex-basis: 10%; */
  margin: 7px;
  width: 40px;
}
.ach-content {
  top: 10px;
  left: 60px;
  position: absolute;
  display: flex;
  justify-content: space-between;
  width: 87%;
}
.ach-content h3 {
  color: white;
  font-family: "Quicksand" sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.ach-box p {
  font-weight: 16px;
  font-weight: 500;
  margin-top: -6px;
  padding-left: 60px;
  color: #e1ad9d;
}
.project-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.proj-img {
  width: 200px;
  margin: 60px;
  filter: grayscale(100%);
  transition: transform 1s;
}
.proj-img:hover {
  transform: scale(1.2, 1.2);
  filter: grayscale(0%);
}
.project-info {
  padding-top: 24px;
  margin: auto;
  text-align: center;
  /* background-color: #e1ad9d; */
  width: 60%;
  height: fit-content;
  display: none;
}
.project-info h2 {
  font-weight: 500;
  font-size: 28px;
  padding-top: 10px;
  color: #084250;
}
.project-info h3 {
  font-weight: 600;
  font-size: 26px;
  padding-top: 10px;
  padding-bottom: 20px;
  text-align: center;
  color: royalblue;
}
.button {
  border-radius: 14px;
  background-color: skyblue;
  color: black;
  font-size: 18px;
  font-weight: 500;
  margin-top: 16px;
  border: none;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 8px;
  padding-bottom: 8px;
  z-index: 1;
  position: relative;
  transition: color 1000ms;
  letter-spacing: 1px;
}
.button:hover {
  color: white;
}
.button::before {
  position: absolute;
  top: 0px;
  left: 0px;
  content: "";
  /*   content:"Hello"; */
  height: 100%;
  width: 0%;
  /* background: white; */
  border-radius: 11px 10px 10px 11px;
  transition-duration: 1000ms;
  transition-property: width, background;
  transition-timing-function: ease-out;
  z-index: -1;
}
.button::after {
  border-radius: 10px;
  content: "";
}
.button:hover::before {
  height: 100%;
  width: 85%;
  background: royalblue;
}
.project-info p {
  font-size: 19px;
  padding: 5px;
  text-align: center;
  white-space: pre-line;
}
.row-contact {
  margin-top: 25px;
  height: 20vh;
  background-color: #6a1b4d;
  display: flex;
  flex-wrap: wrap;
}

.col-contact {
  background-color: #6a1b4d;
  flex-basis: 50%;
}

.contact-content {
  height: 15vh;
  width: 400px;
  background-color: #6a1b4d;
  margin: auto;
  margin-top: 5%;
}
.mail-img {
  width: 30px;
}
.email {
  font-size: 20px;
  margin-top: -35px;
  margin-left: 45px;
  background-color: #6a1b4d;
}
.phone-png {
  margin-top: 8px;
  width: 30px;
}
.phone {
  font-size: 20px;
  background-color: #6a1b4d;
  margin-top: -32px;
  margin-left: 45px;
}
.address-img {
  width: 30px;
  margin-top: 12px;
}
.address {
  font-size: 20px;
  background-color: #6a1b4d;
  margin-top: -32px;
  margin-left: 45px;
}
.avatar {
  width: 200px;
  margin-left: 30%;
}
.skill-set {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 45%;
}
.row-skills {
  margin: 50px;
  display: flex;
  background-color: #f0ffff;
  transition: transform 0.5s;
  border-radius: 10px;
}
.row-skills:hover {
  transform: scale(1.1, 1);
  border: 2px solid #6a1b4d;
  box-shadow: #6a1b4d 0px 15px 15px 0px;
  padding-bottom: 0px;
}
.col-2-first {
  margin-left: 25px;
  flex-basis: 30%;
  flex-wrap: wrap;
  background-color: #f0ffff;
  position: relative;
  border-radius: 10px;
}
.col-2-second {
  background-color: #f0ffff;
  flex-basis: 70%;
  border-radius: 10px;
}
.stars {
  background-color: #f0ffff;
  margin-top: 20px;
  margin-left: 90px;
  border-radius: 10px;
}
@media only screen and (max-width: 1493px) {
  .row-skills {
    flex-direction: column;
  }

  .ds {
    top: 0px;
    left: 35px;
  }
  .increment {
    height: 20vh;
  }
}
@media only screen and (max-width: 1390px) {
  .ach-content h3 {
    font-size: 16px;
  }
}
@media only screen and (max-width: 910px) {
  .skill-set {
    width: 60%;
  }
}
@media only screen and (max-width: 600px) {
  .ach-content {
    flex-direction: column;
  }
  .ach-icon {
    margin-top: 10px;
  }
}
@media only screen and (max-width: 770px) {
  .ach-box {
    width: 90%;
  }
}
@media only screen and (max-width: 610px) {
  .skill-set {
    width: 70%;
  }
  .language {
    font-size: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .skill-set {
    width: 90%;
  }
  .language {
    font-size: 20px;
  }
}
@media only screen and (max-width: 881px) {
  .row-contact {
    height: 60vh;
    flex-direction: column;
  }
  .contact-content {
    margin-left: 33%;
    font-size: 17px;
  }
  .avatar {
    margin-left: 40%;
  }
}
@media only screen and (max-width: 600px) {
  .ach-box p {
    padding-left: 40px;
    margin-top: 0px;
    font-size: 15px;
    font-weight: 400;
  }
  .ach-box {
    height: 110px;
  }
  .project-info h2 {
    font-size: 24px;
  }
  .project-info h3 {
    font-size: 23px;
  }
  .project-info p {
    font-size: 18px;
  }
}
@media only screen and (max-width: 687px) {
  .contact-content {
    margin-left: 67%;
    /* margin-right: 25%; */
    height: 20vh;
    width: 280px;
  }
  .font_ {
    font-size: 17px;
  }
  .col-contact {
    height: 25vh;
    width: 200px;
  }
  .contact-content {
    margin-left: 90%;
  }
  .avatar {
    margin-left: 90%;
  }
}
@media only screen and (max-width: 479px) {
  .ach-content {
    top: 0px;
  }
  .ach-content {
    font-size: 17px;
  }
}
@media only screen and (max-width: 460px) {
  .contact-content {
    margin-left: 40%;
  }
  .font_ {
    font-size: 15px;
  }
  .avatar {
    margin-left: 60%;
  }
}
@media only screen and (max-width: 1407px) {
  .avatar {
    width: 160px;
    /* margin-left: 30%; */
  }
  .navbar {
    box-shadow: rgb(0 0 0 / 45%) 1px 7px 20px 0px;
  }

  .row-intro {
    flex-direction: column;
  }
  .intro-profile {
    margin: auto;
  }

  .social-ul {
    margin-left: 10%;
    margin-top: 0px;
  }
  .intro {
    margin-left: 0px;
    height: 120vh;
  }
  .col-2-intro-1 {
    flex-basis: 100%;
    /* margin-left: 2%; */
    margin: auto;
  }
  .col-2-intro-2 {
    flex-basis: 100%;
    /* margin: auto; */
    margin-left: 20%;
    margin-right: 7%;
  }
  .intro-header {
    text-align: center;
    font-size: 20px;
    padding-bottom: 20px;
    margin-right: 20%;
    /* color: #b9345a; */
  }
  .intro-info,
  .intro-end {
    font-size: 14.2px;
    /* margin-left: 10%; */
    margin-right: 20%;
    text-align: center;
  }
  .intro-info {
    padding-bottom: 15px;
  }
  .linkedin {
    width: 20px;
    height: 30px;
    margin-top: 0px;
  }

  .leetcode {
    height: 30px;
    width: 20px;
    /* margin-top: 5px; */
  }

  .social-img {
    width: 35px;
  }
  .img {
    width: 25px;
  }
  .social-media {
    margin-top: 41px;
  }
}

@media only screen and (max-width: 555px) {
  .intro-info,
  .intro-end {
    font-size: 12.68px;
  }
  .col-2-intro-2 {
    margin-top: 0px;
  }
  .social-media {
    margin-top: 14px;
  }
  .intro-profile {
    margin-top: -10px;
  }
}
@media only screen and (max-width: 639px) {
  .card {
    width: 330px;
  }
  .card-h2 {
    font-size: 23px;
  }
  .card-h3 {
    font-size: 17px;
    font-weight: 400;
  }
  .card p {
    width: 75%;
    text-align: start;
  }
  .two {
    top: 197px;
  }
  .two-adv {
    top: 220px;
  }
  .adv {
    height: 500px;
  }
}
@media only screen and (max-width: 1290px) {
  .row-ach {
    flex-direction: column;
  }
}
@media only screen and (max-width: 479px) {
  .card-skill {
    width: 320px;
    height: 30vh;
  }
  .ach-content {
    font-size: 15px;
    margin-top: 10px;
  }
  .ach-title {
    font-size: 20px;
  }
  .card-skill a {
    margin-left: 28%;
  }
}
